
* {
		box-sizing: border-box;
}

a {
	color: #044440;
}

a:hover {
	background-color: #909090;
}

div a:hover {
	background-color:  #202020;
}

body {
	font-size: 100%;
}

.subheader {
	color:  #044440;
	background: lightgrey;
	font-size: 24px;
	font-weight: bold;
}

.subheader1 {
	color:  #044440;
	background: lightgrey;
	font-size: 22px;
	font-weight: bold;
}

.subheader2 {
	color:  #044440;
	background: lightgrey;
	font-size: 20px;
	font-weight: bold;
}

.header {
	color:  #044440;
	background: lightgrey;
	font-size: 48px;
	font-weight: bold;
}

.page-header {
	border: 5px outset #044440;
	text-align: center;
	font-size: 60 px;
	background: grey;
	color: #aa0000;
}

div.option-box {
	padding: 4px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 12px;
	position: sticky;
	<!--top: 18px;
	left: 30px;-->
	top: 20%;
	left: 2%;
	background: grey;
	color: #aaffff;
	border: 5px outset #044440;
	width: 30%;
}      

.suboption {
	color: #aafff0;
	text-indent:  30px;
	font-style: underline;
	cursor: pointer;
}

p.suboption > a {
	color: #aafff0;
	text-indent:  30px;
	font-style: underline;
	cursor: pointer;
}

.std {
	
	font-size: 16px;
	text-align: left;
	display: inline-block;
	position: static;
	left: 34px;
}
.text {
	text-align: left;
	display: inline-block;
	font-size: 20px;
	margin: 16px 12px;
	position: absolute;
	left: 35%;
	width: 60%;
	overflow:  auto;
}
.body-text {
	text-align: left;
	display: inline-block;
	font-size: 20px;
	margin: 16px 12px;
	position: relative;
	left: 10%;
	width: 85%;
}